output
grp/*/*.aux
grp/*/*.lof
grp/*/*.log
grp/*/*.lot
grp/*/*.fls
grp/*/*.out
grp/*/*.toc
grp/*/*.fmt
grp/*/*.fot
grp/*/*.cb
grp/*/*.cb2
grp/*/.*.lb
grp/*/*.pdf
grp/*/*.synctex.gz
grp/*/*.fdb_latexmk
grp/*/*.bbl
grp/*/*.blg
*.tsv
*.tfevents
catboost*
research/untitled_project/*
*.h5
*.pkl
research/*.png
/*.png