output
*.pkl
grp/proposal/*.aux
grp/proposal/*.lof
grp/proposal/*.log
grp/proposal/*.lot
grp/proposal/*.fls
grp/proposal/*.out
grp/proposal/*.toc
grp/proposal/*.fmt
grp/proposal/*.fot
grp/proposal/*.cb
grp/proposal/*.cb2
grp/proposal/.*.lb
grp/proposal/*.pdf
grp/proposal/*.synctex.gz
grp/proposal/*.fdb_latexmk
grp/proposal/*.bbl
grp/proposal/*.blg